SALUD_CDMX/SALUD_CDMX/Service References/wsSalud/Salud.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IniciaSesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciaSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IniciaSesionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraPaciente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apPaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apMaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaNac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="curp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreTutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apPaternoTutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apMaternoTutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="generoTutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaNacTutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="curpTutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailTutor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraPacienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistraPacienteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Curp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidaDatosResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaCita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idCita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPersona" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaCitaResponse">
        <s:complexType />
      </s:element>
      <s:element name="VerificaCuentaMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaCuentaMailResponse">
        <s:complexType />
      </s:element>
      <s:element name="VerificaCuentaTelefono">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="curp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaCuentaTelefonoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IniciaSesionSoapIn">
    <wsdl:part name="parameters" element="tns:IniciaSesion" />
  </wsdl:message>
  <wsdl:message name="IniciaSesionSoapOut">
    <wsdl:part name="parameters" element="tns:IniciaSesionResponse" />
  </wsdl:message>
  <wsdl:message name="RegistraPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:RegistraPaciente" />
  </wsdl:message>
  <wsdl:message name="RegistraPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:RegistraPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="ValidaDatosSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaDatos" />
  </wsdl:message>
  <wsdl:message name="ValidaDatosSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaDatosResponse" />
  </wsdl:message>
  <wsdl:message name="ValidaCitaSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaCita" />
  </wsdl:message>
  <wsdl:message name="ValidaCitaSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaCitaResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaCuentaMailSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaCuentaMail" />
  </wsdl:message>
  <wsdl:message name="VerificaCuentaMailSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaCuentaMailResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaCuentaTelefonoSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaCuentaTelefono" />
  </wsdl:message>
  <wsdl:message name="VerificaCuentaTelefonoSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaCuentaTelefonoResponse" />
  </wsdl:message>
  <wsdl:portType name="SaludSoap">
    <wsdl:operation name="IniciaSesion">
      <wsdl:input message="tns:IniciaSesionSoapIn" />
      <wsdl:output message="tns:IniciaSesionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistraPaciente">
      <wsdl:input message="tns:RegistraPacienteSoapIn" />
      <wsdl:output message="tns:RegistraPacienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaDatos">
      <wsdl:input message="tns:ValidaDatosSoapIn" />
      <wsdl:output message="tns:ValidaDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaCita">
      <wsdl:input message="tns:ValidaCitaSoapIn" />
      <wsdl:output message="tns:ValidaCitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaCuentaMail">
      <wsdl:input message="tns:VerificaCuentaMailSoapIn" />
      <wsdl:output message="tns:VerificaCuentaMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaCuentaTelefono">
      <wsdl:input message="tns:VerificaCuentaTelefonoSoapIn" />
      <wsdl:output message="tns:VerificaCuentaTelefonoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaludSoap" type="tns:SaludSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciaSesion">
      <soap:operation soapAction="http://tempuri.org/IniciaSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraPaciente">
      <soap:operation soapAction="http://tempuri.org/RegistraPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaDatos">
      <soap:operation soapAction="http://tempuri.org/ValidaDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaCita">
      <soap:operation soapAction="http://tempuri.org/ValidaCita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaCuentaMail">
      <soap:operation soapAction="http://tempuri.org/VerificaCuentaMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaCuentaTelefono">
      <soap:operation soapAction="http://tempuri.org/VerificaCuentaTelefono" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SaludSoap12" type="tns:SaludSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciaSesion">
      <soap12:operation soapAction="http://tempuri.org/IniciaSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraPaciente">
      <soap12:operation soapAction="http://tempuri.org/RegistraPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaDatos">
      <soap12:operation soapAction="http://tempuri.org/ValidaDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaCita">
      <soap12:operation soapAction="http://tempuri.org/ValidaCita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaCuentaMail">
      <soap12:operation soapAction="http://tempuri.org/VerificaCuentaMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaCuentaTelefono">
      <soap12:operation soapAction="http://tempuri.org/VerificaCuentaTelefono" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Salud">
    <wsdl:port name="SaludSoap" binding="tns:SaludSoap">
      <soap:address location="http://localhost:51303/Salud.asmx" />
    </wsdl:port>
    <wsdl:port name="SaludSoap12" binding="tns:SaludSoap12">
      <soap12:address location="http://localhost:51303/Salud.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>