SALUD_CDMX/SALUD_CDMX/Service References/wsSalud/Salud.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IniciaSesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciaSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IniciaSesionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IniciaSesionSoapIn">
    <wsdl:part name="parameters" element="tns:IniciaSesion" />
  </wsdl:message>
  <wsdl:message name="IniciaSesionSoapOut">
    <wsdl:part name="parameters" element="tns:IniciaSesionResponse" />
  </wsdl:message>
  <wsdl:portType name="SaludSoap">
    <wsdl:operation name="IniciaSesion">
      <wsdl:input message="tns:IniciaSesionSoapIn" />
      <wsdl:output message="tns:IniciaSesionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaludSoap" type="tns:SaludSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciaSesion">
      <soap:operation soapAction="http://tempuri.org/IniciaSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SaludSoap12" type="tns:SaludSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciaSesion">
      <soap12:operation soapAction="http://tempuri.org/IniciaSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Salud">
    <wsdl:port name="SaludSoap" binding="tns:SaludSoap">
      <soap:address location="http://localhost:51303/Salud.asmx" />
    </wsdl:port>
    <wsdl:port name="SaludSoap12" binding="tns:SaludSoap12">
      <soap12:address location="http://localhost:51303/Salud.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>